{% load i18n %} {% load static %} {% load static tailwind_tags %} {% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% tailwind_css %} {% block title %}
    <title>Commoning Biomedicine</title>
    {% endblock title %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"
      integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/vue-pagination-tw@latest"></script>
    <link href="https://fonts.cdnfonts.com/css/open-sans" rel="stylesheet">
                
   <!--<link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>!-->
  <style>
  </style>
  </head>
  <body>
    <div class="w-full" style="min-width:1250px">
      {% block navbar %}

      <nav class="bg-mpiwg-green px-2 py-3">
        <div
          class="container flex flex-wrap items-center text-white justify-between mx-auto"
        >
          <a href="/" class="flex items-center">
            <img
              class="object-contain w-12 place-self-right mr-4"
              src="{% static 'images/mpiwg_logo_single_white.png' %}"
            />
            <span class="self-center text-3xl font-serif whitespace-nowrap"
              >Commoning Biomedicine</span
            >
          </a>
          <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-white rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div class="w-full md:w-auto" id="navbar-default">
            <ul
              class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-lg md:font-medium md:border-0"
            >
              <li>
                <a
                  href="/"
                  class="block py-2 pl-3 pr-4 md:p-0 hover:text-mpiwg-light-green {% if nbar == 'landing'%} text-mpiwg-light-green {% else %} text-white {% endif %}"
                  aria-current="page"
                  >About</a
                >
              </li>
              {% if request.user.is_authenticated %}
              <li>
                <a
                  href="/search"
                  class="block py-2 pl-3 pr-4 md:border-0 hover:text-mpiwg-light-green md:p-0  {% if nbar == 'search'%} text-mpiwg-light-green {% else %} text-white {% endif %}"
                  >Search</a
                >
              </li>
              <li>
                <a
                  href="/help"
                  class="block py-2 pl-3 pr-4 md:border-0 hover:text-mpiwg-light-green md:p-0  {% if nbar == 'help'%} text-mpiwg-light-green {% else %} text-white {% endif %}"
                  >Help</a
                >
              </li>
              {% if request.user.is_superuser %} 
              <!--<li>
                <a
                  href="/create_record"
                  class="block py-2 pl-3 pr-4 md:border-0 hover:text-mpiwg-light-green md:p-0  {% if nbar == 'create_record'%} text-mpiwg-light-green {% else %} text-white {% endif %}"
                  >Create Record</a
                >
              </li>!-->
                <li>
                  <a
                    href="/admin"
                    target="_blank"
                    class="block py-2 pl-3 pr-4 md:border-0 hover:text-mpiwg-light-green md:p-0"
                    >Admin</a
                  >
                </li>
              {% endif %} 
              {% endif %}
              <li class="mt-0" style="margin-top: -2px">
                {% if request.user.is_authenticated %}
                <span
                  class="text-white mr-4 text-md inline-flex items-center text-base"
                  ><i class="fa-solid fa-user fa-xs mr-2"></i>
                  {{request.user.username}}</span
                >
                <a
                  class="inline-flex items-center text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
                  href="{% url 'account_logout' %}"
                >
                  <i class="fa-solid fa-sign-out fa-xs mr-2"></i>
                  {% translate "Logout" %}</a
                >
                {% else %}
                <a
                  class="inline-flex items-center text-sm px-4 py-2 mr-4 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
                  href="{% url 'account_login' %}"
                >
                  <i class="fa-solid fa-right-to-bracket fa-xs mr-2"></i>
                  {% translate "Login" %}
                </a>
                <a
                  class="inline-flex items-center text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
                  href="{% url 'account_signup' %}"
                >
                  <i class="fa-solid fa-user-plus fa-xs mr-2"></i>
                  {% translate "Register" %}</a
                >
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% endblock navbar %}
      <div class="grid">{% block container %} {% endblock container %}</div>
    </div>
  </body>
</html>
