{% extends "combio_app/base.html" %}
{% load i18n %}
{% load static %}]

{% block container %}
<div class="p-6">
  <div class="font-sans text-3xl text-mpiwg-green mb-4">Commoning Biomedicine</div>
  <hr class="bg-mpiwg-subdued-green border-0 h-px my-2" />
  <span class="font-serif text-xl"><p>This digital humanities project (2022–26) aims to bring together numerous oral history repositories that can already be found online in a manner that makes them more visible and accessible to historians of biomedicine.</p><p>These repositories are diverse and range from large institutional archives to small and thematically focused collections. In order to make these rich sources useful to historians, “Commoning Biomedicine” will develop an online platform to enable scholars to search within and across repositories. This platform will support mixed-methods approaches that combine digital humanities expertise with qualitative historical research to ask new questions with oral historical sources.</p></span>
</div>
{% endblock %}
