{% extends "sample/base.html" %} {% load i18n %} {% load static %}
  {% block container %}
<div class="grid h-screen place-items-center">

  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div
      class="w-[520px] px-8 py-6 m-auto bg-white shadow-lg rounded bg-neutral-200"
    >
      <div>
        <div class="mt-4">
          <div class="grid grid-cols-12 mb-8 mt-8">
            <div class="col-span-1"></div>
            <div class="col-span-3 place-content-right">
              <img
                class="object-contain w-24 place-self-right"
                src="{% static 'images/mpiwg_logo_single.png' %}"
              />
            </div>
            <div class="col-span-7 text-l flex h-full">
              <div class="place-self-center">
                <div class="w-full font-bold pl-4">
                  MAX-PLANCK INSTITUTE FOR THE HISTORY OF SCIENCE
                </div>
                <span class="w-full pl-4 italic">Commoning Biomedicine</span>
              </div>
            </div>
            <div class="col-span-1"></div>
          </div>
          <span>
            Already have an account? Then please
            <a href="{{ login_url }}" class="underline">login</a> first.
          </span>
          <div class="mt-4">
            <label class="block mt-4" for="username">Username</label>
            <span class="italic text-red-500"
              >{{ form.username.errors | safe }}</span
            >
            <input
              type="text"
              placeholder="Username"
              id="id_username"
              name="username"
              placeholder="Username"
              value="{{form.username.value}}"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-grey-600"
            />
          </div>
            <div class="mt-4">
            <label class="block mt-4" for="email">Email</label>
            <span class="italic text-red-500"
              >{{ form.email.errors | safe }}</span
            >
            <input
              type="text"
              placeholder="Email"
              id="id_email"
              name="email"
              placeholder="Username"
              value="{{form.email.value}}"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-grey-600"
            />
          </div>
            <div class="mt-4">
            <label class="block mt-4" for="first_name">First Name</label>
            <span class="italic text-red-500"
              >{{ form.first_name.errors | safe }}</span
            >
            <input
              type="text"
              placeholder="First Name"
              id="id_first_name"
              name="first_name"
              placeholder="First Name"
              value="{{form.first_name.value}}"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-grey-600"
            />
          </div>
            <div class="mt-4">
            <label class="block mt-4" for="last_name">Last Name</label>
            <span class="italic text-red-500"
              >{{ form.last_name.errors | safe }}</span
            >
            <input
              type="text"
              placeholder="Last Name"
              id="id_last_name"
              name="last_name"
              placeholder="Last Name"
              value="{{form.last_name.value}}"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-grey-600"
            />
          </div>
          <div class="mt-4">
            <label class="block">Password</label>
            <span class="italic text-red-500"
              >{{ form.password1.errors | safe }}</span
            >
            <input
              type="password"
              id="id_password1"
              name="password1"
              placeholder="Password"
              value="{{form.password1.value}}"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
            />
          </div>
          <div class="mt-4">
            <label class="block">Password Confirmation</label>
            <span class="italic text-red-500"
              >{{ form.password2.errors | safe }}</span
            >
            <input
              type="password"
              id="id_password2"
              name="password2"
              placeholder="Password Confirmation"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
            />
          </div>
          <div class="flex items-baseline justify-between mt-6">
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 py-2 px-4 border border-gray-400 rounded shadow mr-2"
              type="submit"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}